
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
    <a class="navbar-brand" href="#">Tamkeen</a>

    <div class="ms-auto">
        <a href="#" class="btn btn-outline-light btn-sm">Login</a>
    </div>
</nav>
