<div class="sidebar">
    <h5 class="text-white text-center py-3 border-bottom">Dashboard</h5>

    <a href="/Dashboard">🏠 Dashboard</a>
    <a href="/Trainees">👨‍🎓 Trainees</a>
    <a href="/Programs">📚 Programs</a>
    <a href="/Applications">📥 Applications</a>
    <a href="/Evaluations">⭐ Evaluations</a>
</div>
